{{ partial "header.html" . }}

<div id="layout" class="pure-g">
	{{ partial "sidebar.html" . }}

    <div class="content pure-u-1 pure-u-md-3-4" style="padding: 0;">
		{{ partial "links.html" . }}
        <div style="padding-left: 1em; padding-right: 1em; margin-left: auto; margin-right: auto;">
			<div class="index">
				<h1>Author</h1>
				<table class="pure-table">
					<thead>
						<tr>
							<th>Project</th>
							<!--<th>Tags</th>-->
							<th>Description</th>
						</tr>
					</thead>
					<tbody>
						{{ range .Site.Data.software.author  }}
						<tr>
							<td>
								<a href="{{ .url }}">
									{{ .name }}
								</a>
							</td>
							<!--<td>-->
								<!--<ul>-->
								<!--{{ range .tags }}-->
								<!--<li>-->
									<!--{{ . }}-->
								<!--</li>-->
								<!--{{ end }}-->
								<!--</ul>-->
							<!--</td>-->
							<td>
								{{ .description }}
							</td>
						</tr>
						{{ end  }}
					</tbody>
				</table>
				<h1>Contributor</h1>
				<table class="pure-table">
					<thead>
						<tr>
							<th>Project</th>
							<!--<th>Tags</th>-->
							<th>Description</th>
						</tr>
					</thead>
					<tbody>
						{{ range .Site.Data.software.contributor  }}
						<tr>
							<td>
								<a href="{{ .url }}">
									{{ .name }}
								</a>
							</td>
							<!--<td>-->
								<!--<ul>-->
								<!--{{ range .tags }}-->
								<!--<li>-->
									<!--{{ . }}-->
								<!--</li>-->
								<!--{{ end }}-->
								<!--</ul>-->
							<!--</td>-->
							<td>
								{{ .description }}
							</td>
						</tr>
						{{ end  }}
					</tbody>
				</table>
			</div>
			{{ partial "footer.html" . }}
		</div>
	</div>
</div>
</body>
</html>
