{{ partial "header.html" . }}

<div id="layout" class="pure-g">
	{{ partial "sidebar.html" . }}

	<div class="content pure-u-1 pure-u-md-3-4">
		{{ partial "links.html" . }}
		<div>
			<h1>Talks</h1>
			<div class="index">
				<table class="pure-table">
					<thead>
						<tr>
							<th>Meeting</th>
							<th>Title</th>
							<th>Source</th>
							<th>Date</th>
						</tr>
					</thead>
					<tbody>
						{{ range .Site.Data.talks.talk  }}
						<tr>
							<td>
								<a href="{{ .meeting_url }}">
									{{ .meeting_name }}
								</a>
							</td>
							<td>
								{{ if eq .talk_type "lightning" }}
								&#x26a1;
								{{ end }}
								<a href="{{ .pdf_url }}">
								{{ .title }}
								</a>
							</td>
							<td>
								<a href="{{ .data_url }}">
									GH
								</a>
							</td>
							<td>{{ .date }}</td>
						</tr>
						{{ end  }}
					</tbody>
				</table>
			</div>
			{{ partial "footer.html" . }}
		</div>
	</div>
</div>
</body>
</html>
