{{ partial "header.html" . }}

<div id="layout" class="pure-g">
    {{ partial "sidebar.html" . }}

    <div class="content pure-u-1 pure-u-md-3-4" style="padding: 0;">
		{{ partial "links.html" . }}
        <div style="padding-left: 1em; padding-right: 1em; margin-left: auto; margin-right: auto;">
            <!-- A wrapper for all the blog posts -->
            <div class="posts">
                <h1 class="content-subhead">{{ .Date }}</h1>
                <section class="post">
                    <header class="post-header">
						{{ if .Draft }}<a href="/drafts/" style="font-size: 2em">[DRAFT]</a> {{ end }}
                        <a href="{{ .Permalink }}" class="post-title">{{ .Title }}</a>

						<div>
							{{ range .Params.tags }}
							<a class="pure-button button-secondary" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
							{{ end }}
						</div>

						<div id="toc" class="pure-u-1">
							{{ .TableOfContents }}
						</div>
                    </header>
                    <div class="post-description">
                        {{ .Content }}
                    </div>
                </section>
            </div>
            {{ partial "footer.html" . }}
        </div>
    </div>
</div>
</body>
</html>
