<div class="size-chart pure-g">
	<a class="size-chart-item" href="/" style="width: 20%;background: #1f8dd6; color: white; padding: 1em">
		<div class="size-chart-base pure-u">
			<span class="size-chart-label">
				Home
			</span>
		</div>
	</a>
	<a class="size-chart-item" href="/post/" style="width: 20%;background: #265778; color: white; padding: 1em">
		<div class="size-chart-base pure-u">
			<span class="size-chart-label">
				Blog
			</span>
		</div>
	</a>
	<a class="size-chart-item" href="/talks/" style="width: 20%;background: #5eb95e; color: white; padding: 1em">
		<div class="size-chart-base pure-u">
			<span class="size-chart-label">
				Talks
			</span>
		</div>
	</a>
	<a class="size-chart-item" href="/software/" style="width: 20%;background: #dd514c; color: white; padding: 1em">
		<div class="size-chart-base pure-u">
			<span class="size-chart-label">
				Software
			</span>
		</div>
	</a>
	<a class="size-chart-item" href="/assets/rasche_cv.pdf" style="width: 20%;background: rgb(243, 123, 29); color: white; padding: 1em">
		<div class="size-chart-base pure-u">
			<span class="size-chart-label">
				Resume
			</span>
		</div>
	</a>
</div>
