/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr, figure {
  margin: 0;
  padding: 0;
}



/**
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}

figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
}



/**
 * Links
 */
a {
  text-decoration: none;

  &:hover {
    color: $text-color;
    text-decoration: underline;
  }
}


/**
 * Blockquotes
 */
blockquote {
  color: $grey-color-dark;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
}



/**
 * Code formatting
 */
pre {
  @include relative-font-size(0.9375);
  border: 1px solid $grey-color-light;
  background-color: #eee;
  padding: 8px 12px;
  overflow-x: auto;
}

code {
  font-family: $mono-font-family;
}



/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;

}




/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  vertical-align: middle;

  path {
    fill: $grey-color;
  }
}

.social-media-list {
  .icon {
    padding-right: 5px;
  }

  li + li {
    padding-top: 5px;
  }
}

table.post-meta td:first-child {
	text-align: right;
	padding-right: 1em;
    min-width: 5em;
}

.header-link {
    opacity: 0;
    text-decoration: none;

    margin-left: -1em;
}

h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
    opacity: 1;
    text-decoration: none;
    color: $grey-color-dark;
}
