.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight, .highlight .w {
  color: #303030;
}


.highlight .c, .highlight .cd,
.highlight .cm, .highlight .c1, .highlight .cs,
.highlight .o, .highlight .ow,
.highlight .p, .highlight .pi {
  color: #000;
}

.highlight .gi {
	color: #4515b5;
}
.highlight .gd {
	color: #028857;
}

.highlight .cp, .highlight .nt,,
.highlight .nn, .highlight .nc, .highlight .no, .highlight .m,
.highlight .mf, .highlight .mh, .highlight .mi, .highlight .il,
.highlight .mo, .highlight .mb, .highlight .mx, .highlight .ss {
  color: #1b9e77;
}

.highlight .k, .highlight .kn, .highlight .kp, .highlight .kr,
.highlight .kv {
  color: #d95f02;
}
.highlight .kc, .highlight .kt, .highlight .kd, .highlight .s,
.highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2,
.highlight .sh, .highlight .sx, .highlight .s1 {
  color: #7570b3;
}
