---
layout: page
---
<script src="/js/deeplink.js"></script>

{% if page.page_requires %}
	{% for req in page.page_requires %}
		{% if req == "d3" %}
		<script src="/assets/lib/d3.min.js" integrity="sha256-4mL8TQfOJSbg0f42dQw5cKLl2ngQXUSXqfQnvK11M44=" crossorigin="anonymous"></script>
		{% endif %}

		{% if req == "d3v4.12" %}
		<script src="/assets/lib/d3.min.js" integrity="sha256-TNlrZgMxbQoeCKCYUdhsLLuLZA77jcLU/3H8BZRM/3k=" crossorigin="anonymous"></script>
		{% endif %}

		{% if req == "jquery" %}
		<script src="/assets/lib/jquery.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
		{% endif %}

		{% if req == "dat" %}
		<script src="/assets/lib/dat.gui.min.js" integrity="sha256-HJ7j+71YYw6Kcs8THwQV9lXmPOcR0eXlg7n8KRTZsyA=" crossorigin="anonymous"></script>
		{% endif %}

		{% if req == "glsl" %}
		<script type="text/javascript" src="/assets/lib/glsl-canvas.min.js"></script>
		{% endif %}
	{% endfor %}
{% endif %}


{{ content }}
